In [1]:
# Dependencies
import pandas as pd

In [2]:
# Read in file
file = "NFL Arrest CSV.csv"
df = pd.read_csv(file, encoding="ISO-8859-1")

In [3]:
df.head(10) #956, 8

,DATE,TEAM,NAME,POS,CASE,CATEGORY,DESCRIPTION,OUTCOME
0,1/17/2020,NE,Joejuan Williams,CB,Arrested,Drugs,"Pulled over for speeding in Nashville, accused...",Resolution undetermined.
1,1/16/2020,CLE,Odell Beckham,WR,Warrant,Battery,Accused of slapping the buttocks of a police o...,Warrant rescinded.
2,1/11/2020,NE,Julian Edelman,WR,Arrested,Vandalism,Accused of jumping on the hood of a Mercedes i...,Resolution undetermined.
3,12/29/2019,MIA,Xavien Howard,CB,Arrested,Domestic violence,"Police in Davie, Fla., say he pushed his fianc...",Resolution undetermined.
4,12/20/2019,PIT,Kameron Kelly,S,Arrested,Disorderly conduct,Accused of making threats and resisting arrest...,Resolution undetermined. Team released him sam...
5,12/3/2019,DAL,Antwaun Woods,DT,Arrested,Drugs,"Pulled over for speeding in Frisco, Texas, and...",Resolution undetermined
6,11/19/2019,MIA,Mark Walton,RB,Arrested,Domestic violence,Police say he punched his pregnant girlfriend ...,Resolution undetermined. Team released him sam...
7,11/6/2019,DAL,Daniel Ross,DT,Arrested,"Drugs, gun",Accused of marijuana possession and unlawful c...,Resolution undetermined.
8,10/27/2019,MIN,Jayron Kearse,S,Arrested,"DUI, drugs","Accused of driving drunk in Minneapolis, with ...",Resolution undetermined.
9,10/26/2019,MIN,Davion Davis,WR,Arrested,DUI,"Pulled over for speeding in St. Paul, Minn., a...",Resolution undetermined.

In [5]:
df["crime_list"] = df.CATEGORY.str.split(",")
df["crime_count"] = df.crime_list.str.len()
df.head()

,DATE,TEAM,NAME,POS,CASE,CATEGORY,DESCRIPTION,OUTCOME,crime_list,crime_count
0,1/17/2020,NE,Joejuan Williams,CB,Arrested,Drugs,"Pulled over for speeding in Nashville, accused...",Resolution undetermined.,[Drugs],1
1,1/16/2020,CLE,Odell Beckham,WR,Warrant,Battery,Accused of slapping the buttocks of a police o...,Warrant rescinded.,[Battery],1
2,1/11/2020,NE,Julian Edelman,WR,Arrested,Vandalism,Accused of jumping on the hood of a Mercedes i...,Resolution undetermined.,[Vandalism],1
3,12/29/2019,MIA,Xavien Howard,CB,Arrested,Domestic violence,"Police in Davie, Fla., say he pushed his fianc...",Resolution undetermined.,[Domestic violence],1
4,12/20/2019,PIT,Kameron Kelly,S,Arrested,Disorderly conduct,Accused of making threats and resisting arrest...,Resolution undetermined. Team released him sam...,[Disorderly conduct],1

In [ ]:
# People who have a single crime on record
df.loc[df.crime_count == 1, ["NAME", "crime_list"]]

In [ ]:
# People who have two crimes on record
df.loc[df.crime_count == 2, ["NAME", "crime_list"]]

In [ ]:
# People who have three crimes on record
df.loc[df.crime_count == 3, ["NAME", "crime_list"]]

In [6]:
df.head()

,DATE,TEAM,NAME,POS,CASE,CATEGORY,DESCRIPTION,OUTCOME,crime_list,crime_count
0,1/17/2020,NE,Joejuan Williams,CB,Arrested,Drugs,"Pulled over for speeding in Nashville, accused...",Resolution undetermined.,[Drugs],1
1,1/16/2020,CLE,Odell Beckham,WR,Warrant,Battery,Accused of slapping the buttocks of a police o...,Warrant rescinded.,[Battery],1
2,1/11/2020,NE,Julian Edelman,WR,Arrested,Vandalism,Accused of jumping on the hood of a Mercedes i...,Resolution undetermined.,[Vandalism],1
3,12/29/2019,MIA,Xavien Howard,CB,Arrested,Domestic violence,"Police in Davie, Fla., say he pushed his fianc...",Resolution undetermined.,[Domestic violence],1
4,12/20/2019,PIT,Kameron Kelly,S,Arrested,Disorderly conduct,Accused of making threats and resisting arrest...,Resolution undetermined. Team released him sam...,[Disorderly conduct],1

In [7]:
df.POS.unique()

array(['CB', 'WR', 'S', 'DT', 'RB', 'LB', 'OT', 'DE', 'TE', 'QB', 'OC',
       'OG', 'FB', 'DB', 'K', 'OL', 'C', 'P', 'DE/DT'], dtype=object)

In [9]:
offense = ['WR', 'RB', 'OT', 'TE', 'QB', 'OC', 'OG', 'FB', 'K', 'OL', 'C', 'P']
defense = ['CB', 'S', 'DT', 'LB', 'DE', 'DB', 'DT']

In [12]:
df.loc[df.POS.isin(offense), ["NAME", "POS", "crime_count"]]

                 NAME POS  crime_count
1       Odell Beckham  WR            1
2      Julian Edelman  WR            1
6         Mark Walton  RB            1
9        Davion Davis  WR            1
15   Desmond Harrison  OT            1
..                ...  ..          ...
949       Andre Rison  WR            1
950     Wayne Chrebet  WR            1
951       Keith Elias  RB            1
953         Fred Lane  RB            2
955         Rod Smith  WR            1

[444 rows x 3 columns]

In [13]:
df.loc[df.POS.isin(defense), ["NAME", "POS", "crime_count"]]

                 NAME POS  crime_count
0    Joejuan Williams  CB            1
3       Xavien Howard  CB            1
4       Kameron Kelly   S            1
5       Antwaun Woods  DT            1
7         Daniel Ross  DT            2
..                ...  ..          ...
935   Charles Woodson  CB            1
936   Chris McAlister  CB            1
941       Steve Foley  LB            1
952       Steve Foley  LB            1
954         Ray Lewis  LB            1

[511 rows x 3 columns]