In [38]:
# Dependencies
import pandas as pd

In [60]:
# Read in file
file = "NFL Arrest CSV.csv"
df = pd.read_csv(file, encoding="ISO-8859-1")

In [61]:
df.head(15) #956, 8

,DATE,TEAM,NAME,POS,CASE,CATEGORY,DESCRIPTION,OUTCOME
0,1/17/2020,NE,Joejuan Williams,CB,Arrested,Drugs,"Pulled over for speeding in Nashville, accused...",Resolution undetermined.
1,1/16/2020,CLE,Odell Beckham,WR,Warrant,Battery,Accused of slapping the buttocks of a police o...,Warrant rescinded.
2,1/11/2020,NE,Julian Edelman,WR,Arrested,Vandalism,Accused of jumping on the hood of a Mercedes i...,Resolution undetermined.
3,12/29/2019,MIA,Xavien Howard,CB,Arrested,Domestic violence,"Police in Davie, Fla., say he pushed his fianc...",Resolution undetermined.
4,12/20/2019,PIT,Kameron Kelly,S,Arrested,Disorderly conduct,Accused of making threats and resisting arrest...,Resolution undetermined. Team released him sam...
5,12/3/2019,DAL,Antwaun Woods,DT,Arrested,Drugs,"Pulled over for speeding in Frisco, Texas, and...",Resolution undetermined
6,11/19/2019,MIA,Mark Walton,RB,Arrested,Domestic violence,Police say he punched his pregnant girlfriend ...,Resolution undetermined. Team released him sam...
7,11/6/2019,DAL,Daniel Ross,DT,Arrested,"Drugs, gun",Accused of marijuana possession and unlawful c...,Resolution undetermined.
8,10/27/2019,MIN,Jayron Kearse,S,Arrested,"DUI, drugs","Accused of driving drunk in Minneapolis, with ...",Resolution undetermined.
9,10/26/2019,MIN,Davion Davis,WR,Arrested,DUI,"Pulled over for speeding in St. Paul, Minn., a...",Resolution undetermined.
10,10/20/2019,PIT,Anthony Chickillo,LB,Arrested,Domestic violence,"Accused of simple assault, criminal mischief a...",Dropped by prosecutors.
11,10/2/2019,JAC,Marcell Dareus,DT,Cited,Drugs,"Pulled over for speeding near Atlantic Beach, ...",Dropped by prosecutors.
12,9/19/2019,DEN,Kareem Jackson,S,Arrested,DUI,"Pulled over for speeding, accused of driving d...","Pleaded guilty to lesser charge, 12 months pro..."
13,8/9/2019,ARI,Darius Philon,DT,Arrested,"Assault, gun",Charged with aggravated assault involving dead...,Resolution undetermined. Team released him the...
14,8/8/2019,NE,Patrick Chung,S,Indicted,Drugs,Accused of felony cocaine possession in New Ha...,Resolution undetermined.

In [73]:
temp = df[["NAME", "CATEGORY"]]
new = temp.CATEGORY.str.split(",", expand=True)
temp["Crime 1"] = new[0]
temp["Crime 2"] = new[1]
temp["Crime 3"] = new[2]
temp.drop(columns =["CATEGORY"], inplace = True) 
temp.head(15)

C:\Users\alecg\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\alecg\Anaconda3\lib\site-packages\ipykernel_launcher.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  after removing the cwd from sys.path.
C:\Users\alecg\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """
C:\Users\alecg\Anaconda3\lib\site-packages\pandas\core\frame.py:4102: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

                 NAME             Crime 1 Crime 2 Crime 3
0    Joejuan Williams               Drugs    None    None
1       Odell Beckham             Battery    None    None
2      Julian Edelman           Vandalism    None    None
3       Xavien Howard   Domestic violence    None    None
4       Kameron Kelly  Disorderly conduct    None    None
5       Antwaun Woods               Drugs    None    None
6         Mark Walton   Domestic violence    None    None
7         Daniel Ross               Drugs     gun    None
8       Jayron Kearse                 DUI   drugs    None
9        Davion Davis                 DUI    None    None
10  Anthony Chickillo   Domestic violence    None    None
11     Marcell Dareus               Drugs    None    None
12     Kareem Jackson                 DUI    None    None
13      Darius Philon             Assault     gun    None
14      Patrick Chung               Drugs    None    None

In [85]:
crime1 = pd.DataFrame(temp.groupby("NAME")["Crime 1"].value_counts())
crime1

                                  Crime 1
NAME           Crime 1
A.J. Jefferson Domestic violence        1
A.J. Nicholson Domestic violence        1
               Theft                    1
Aaron Beasley  Battery                  1
Aaron Berry    Assault                  1
...                                   ...
Willie Roaf    DUI                      1
Willie Snead   DUI                      1
Xavien Howard  Domestic violence        1
Yusuf Scott    Leaving scene.           1
Zay Jones      Vandalism                1

[888 rows x 1 columns]

In [86]:
crime2 = pd.DataFrame(temp.groupby("NAME")["Crime 2"].value_counts())
crime2

                          Crime 2
NAME            Crime 2
Aaron Berry      gun            1
Aaron Hernandez  gun            1
Aaron Jones      drugs          1
Adam Jones       gun            1
Ahmad Carroll    drugs          1
...                           ...
Terry Glenn      alcohol        1
Todd Sauerbrun   assault        1
Tony Hutson      gun            1
William Green    drugs          1
Willie Andrews   gun            1

[84 rows x 1 columns]

In [87]:
crime3 = pd.DataFrame(temp.groupby("NAME")["Crime 3"].value_counts())
crime3

                                  Crime 3
NAME           Crime 3
Josh Huff       gun                     1
Roderick Green  reckless driving        1