In [50]:
#import dependencies

import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import gmaps

# Import API key
import config as g_key

df = pd.read_csv('NFL LAT LONG.csv')

df.head()

  TEAM       CITY    LAT     LNG  TTL CRIMES
0  CHI    Chicago  41.53   87.38          32
1   GB  Green Bay  44.30   88.01          29
2  ARI    Arizona  33.27  112.05          26
3  ATL    Atlanta  33.45   84.23          22
4  BAL  Baltimore  39.17   76.37          31

In [51]:
 # Store latitude and longitude in locations
locations = df[["LAT", "LNG"]]

# Fill NaN values and convert to float
rating = df["TTL CRIMES"].astype(float)

In [52]:
#
chi_coordinates = (41.53, 87.38)
gmaps.figure(center=chi_coordinates, zoom_level=5)

Figure(layout=FigureLayout(height='420px'))

In [40]:


# Plot Heatmap
fig = gmaps.figure()

# Create heat layer
heat_layer = gmaps.heatmap_layer(locations, weights=rating, 
                                 dissipating=False, max_intensity=10,
                                 point_radius=1)


# Add layer
fig.add_layer(heat_layer)

# Display figure
fig

Figure(layout=FigureLayout(height='420px'))

In [ ]:
# Add marker layer ontop of heat map
markers = gmaps.marker_layer[locations]

# Display Map
fig.add_layer(markers)
fig