In [3]:
import pandas as pd
import gmaps

df = pd.read_csv('NFL LAT LONG.csv')

df.head()

  TEAM       CITY    LAT     LNG  TTL CRIMES
0  CHI    Chicago  41.53   87.38          32
1   GB  Green Bay  44.30   88.01          29
2  ARI    Arizona  33.27  112.05          26
3  ATL    Atlanta  33.45   84.23          22
4  BAL  Baltimore  39.17   76.37          31

In [5]:
# Use google maps api
gmaps.configure(api_key='fill me in') # Fill in with your API key

In [6]:
 # Store latitude and longitude in locations
locations = df[["LAT", "LNG"]]

# Fill NaN values and convert to float
weights = df["TTL CRIMES"].astype(float)

In [7]:
#Set up your map
fig = gmaps.figure()
fig.add_layer(gmaps.heatmap_layer(locations, weights=weights))
fig

Figure(layout=FigureLayout(height='420px'))